*{
  box-sizing: border-box;
}

body, html{
  margin: 0;
  padding: 0;
  background-color:mintcream;
}

form{
  padding:10px 15px;
}

h3{
  text-align: center;
  background:linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 27%, rgba(209,209,209,1) 79%, rgba(238,238,238,1) 100%);
  margin: 0;
  padding:10px;
  font-size: 24px;
}

input{
  width:60%;
  background:none;
  border:0px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size:14px;
}
button{
  background:linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 27%, rgba(209,209,209,1) 79%, rgba(238,238,238,1) 100%);

  border:1px solid #ddd;
  border-radius:2px;

  width:150px;
  text-align: center;
  padding:3px 10px;
}

.message-pane{
  max-width: 500px;
  background-color: #eee;
  min-height: calc(100vh - 20px - 28px);
  padding:10px;
  margin:0 auto;
}
.messages{
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

span.screenname {
  padding-left: 20px;
  display:block;
}
span.message {
  padding-left:40px;
  display:block;
  padding-bottom: 10px;
}

.delete{
  display: block;
  margin-top: 20px;
  margin:0 auto;
}
